#wrapper {
  height: 100vh;
}

#nav-bar {
  height: 64px;
  background-color: pink;
}

#content {
  display: flex;
  position: absolute;
  top: 64px;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  /* background-color: lightblue; */
}

#side-index {
  width: 300px;
  margin: 10px 0;
  /* background-color: lightgray; */
  border-right: 1px lightgray solid;
  overflow-y: auto;
}

#file-viewer {
  width: 100%;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  /* background-color: lightcoral; */
}

#file-path {
  height: 30px;
  margin: 30px;
  /* background-color: lightsalmon; */
}

#files {
  /* background-color: antiquewhite; */
}
